<!DOCTYPE html>
{% load static %}
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Rango</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
        <h1 style=color:red;>Rango says...</h1>
        <div>
            hey there partner<br>
        </div>
            <div>
                {% if categories %}
                <ul>
                    {% for category in categories %}
                        <li>
                            <a href="/rango/category/{{category.slug}}">{{ category.name }}</a>
                        </li>
                    {% endfor %}
                </ul>
                {% else %}
                    <strong>There are no categories present.</strong>
                {% endif %}
            </div>
        
        <div>
            <a href="rango/about/">About Rango</a>
            <a href="rango/category">Category Page</a><br>
            <img src='{%static "images/image.jpg" %}' alt="image" width="500" height="800">
            <img src='/media/rango/cat.jpg' alt="image" width="1100" height="800">
        </div>
        
    </body>
</html>
